<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}Sticky notes{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stickynotes_app/css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'stickynotes_app/js/update_form_background.js' %}"></script> <!-- Include the JavaScript file -->
</head>
<body>
    <div>
        <header>
            <nav>
                <div style="display:inline-block;">
                    <div style="display:inline-block;">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                    <div style="display:inline-block;">
                        <a href="{% url 'register' %}">Register</a>
                    </div>
                    <div style="display:inlibe-block;">
                        <a href="{% url 'profile' %}">Profile</a>
                    </div>
                    <div style="display:inline-block;">
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                    <div style="display:inline-block;">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                    <div style="display:inline-block;">
                        <a href="{% url 'main_board' %}">Sticky Notes Board</a>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <main>
        {% if messages %}
            <div>
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <script>
            // Hide messages after 3 seconds
            $(document).ready(function() {
                setTimeout(function() {
                    $('.messages').fadeOut('slow');
                }, 3000);
            });
        </script>

        {% block content %}
        {% endblock %}
    </main>
    <div>
        <footer>
            <p>&copy; 2024 Stefania Fiorucci</p>
        </footer>
    </div>
</body>
</html>
