    <!-- templates/view_note.html -->
    {% extends "base.html" %}
    {% block title %}View Note{% endblock %}
    {% block content %}
        <div>
            <h2>{{ note.title }}</h2>
            <p>{{ note.body }}</p>
            <p>Created at: {{ note.created_at }}</p>
            <p>Created by: {{ note.user.username }}</p>
            <div style="display:inline-block;">
                <a href="{% url 'edit_note' note.id %}" class="button">Edit</a>
            </div>
            <div style="display:inline-block;">
                <a href="{% url 'delete_note' note.id %}" class="button">Delete</a>
            </div>
        </div>
    {% endblock %}